<v-navigation-drawer
  class="ps-4 navigationClass background"
  :width="filter ? 344 : 504"
  app
  floating
  clipped
  :right="isRtl"
>
  <!-- top section -->
  <template v-slot:prepend>
    <v-card flat color="background" class="my-3" v-if="isFilter">
      <v-row>
        <v-col cols="12" class="pt-0 pb-1">
          <PagesSearchResultTitle :isFilter="isFilter"/>
        </v-col>
        <v-col cols="12">
          <v-row class="align-center">
            <v-col class="pe-0">
              <v-btn
                text
                width="120"
                height="40"
                class="whiteColor text-capitalize"
                @click="toggleFilter"
              >
                <v-icon>
                  $close
                </v-icon>
                <span class="greenDark8--text font-regular-14">
                    {{ $t('search.map.close-filter') }}
                  </span>
              </v-btn>
            </v-col>
            <v-col class="ps-0">
              <div
                class="d-flex align-center cursorPointer"
                @click="toggleFilter"
              >
                  <span class="me-2 font-regular-12 secondary--text"
                  >مشاهده ۳۴ مورد اقامتگاه</span
                  >
                <arrowRotate :rotate="!$vuetify.rtl?true:false"/>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card>
    <v-card flat class="mt-3 pb-4 rounded-t-lg rounded-b-0" v-else>
      <v-row class="mb-0">
        <v-col class="px-7 d-flex justify-space-between align-center">
          <PagesSearchResultTitle/>
          <v-btn
            text
            width="86"
            height="40"
            class="greyLight1 text-capitalize"
            @click="toggleFilter"
          >
            <v-icon v-if="filterAdded">
              $filter2
            </v-icon>
            <v-icon v-else>
              $filter
            </v-icon>
            <span class="greenDark8--text font-regular-14"> {{ $t('search.map.filter') }} </span>
          </v-btn>
        </v-col>
      </v-row>
      <v-divider class="greyLight4"></v-divider>
    </v-card>
  </template>

  <!-- content section  -->
  <vue-custom-scrollbar
    class="scroll-area"
    :settings="settings"
    scrollYMarginOffset="20"
  >
    <PagesSearchFilters v-if="isFilter"/>
    <v-card flat class="rounded-0" v-else>
      <v-row v-if="getSearchResult.data.length !== 0" class="ma-0">
        <v-col
          cols="12"
          v-for="(result, index) in getSearchResult.data"
          :key="index"
          class="py-3 px-6 resultBorder"
          @mouseover="itemHover(result.id)"
          @mouseleave="itemHover(null)"
        >
          <PagesSearchResultItemMap :place="result" :index="index"/>
        </v-col>
      </v-row>
      <v-row v-else class="text-center justify-center align-content-center align-center fill-height flex-column">
        <v-icon size="126">$noResults</v-icon>
        <div class="font-regular-14 secondary--text>">اقامتگاهی یافت نشد!</div>
      </v-row>

      <!-- pagination  -->
      <v-row class="paginationContainer justify-center mt-6">
        <v-pagination
          v-if="getSearchResult.last_page > 1"
          @input="changePagination"
          v-model="currentPage"
          :total-visible="7"
          :length="getSearchResult.last_page"
          class="paginationFont12"
          :class="[$i18n.locale === 'fa' ? 'farsiFontPagination' : '',]"
        ></v-pagination>
      </v-row>
    </v-card>
  </vue-custom-scrollbar>
</v-navigation-drawer>
