.resultContainerMap {
  flex: 0 0 504px;
  overflow: hidden;
}

.mapContainer {
  // flex: 0 0 1008px;
  overflow: hidden;
}

.filterContainer {
  flex: 0 0 336px;
  height: max-content;
  position: sticky;
  top: 96px;
}

.resultContainer {
  // flex: 0 0 1008px;
  overflow: hidden;
  height: max-content;
  position: sticky;
  top: 96px;
}

.mapLayoutContainer {
  flex: 1;
  height: 100%;
}
