<div>
  <div v-for="(filter, filterIndex) in filters" :key="filterIndex">
    <!-- map -->
    <div
      v-if="filter.type === 'map' && $route.query.showMap !== 'true'"
      class="mb-3"
    >
      <PagesSearchMapThumbnail />
    </div>
    <!-- applied filters-->
    <div
      v-if="filterIndex === 0 && appliedFilterList.length > 0"
      class="mb-3"
    >
      <v-card flat class="pb-3 rounded-lg">
        <v-card-title class="py-3 justify-space-between">
            <span class="font-regular-14">{{
                $t("search.filters. all-filters.title")
              }}</span>
          <v-btn
            small
            text
            class="font-regular-12"
            @click="clearAllFilter(appliedFilterList)"
          >
            {{ $t("search.filters.all-filters.clear-all") }}
          </v-btn>
        </v-card-title>
        <v-card-text class="px-4">
          <v-chip
            small
            v-for="(appliedFilter, appliedFilterIndex) in appliedFilterList"
            :key="appliedFilterIndex"
            color="greyLight1"
            text-color="secondary"
            close-icon="$close"
            class="me-3 mb-3"
            close
            @click:close="clearFilter(appliedFilter, appliedFilterIndex)"
          >
              <span
                v-if="appliedFilter.count"
                class="pe-1"
                :class="{ 'font-FaNumregular-14': $vuetify.rtl }"
              >{{ appliedFilter.count }}</span
              >
            <span v-if="appliedFilter.name">{{ appliedFilter.name }}</span>
            <span v-if="appliedFilter.type === 'price_range'">
                <span>{{ $t("search.filters.price.from") }}</span>
                <span
                  :class="{ 'font-FaNumregular-14' : $vuetify.rtl }"
                >{{ appliedFilter.minPrice | comma }}</span
                >
                <span>{{ $t("search.filters.price.to") }}</span>
                <span
                  :class="{ 'font-FaNumregular-14' : $vuetify.rtl }"
                >{{ appliedFilter.maxPrice | comma }}</span
                >
                <span>{{ $t("search.filters.price.unit") }}</span>
              </span>
          </v-chip>
        </v-card-text>
      </v-card>
    </div>

    <!-- price -->
    <div v-if="filter.type === 'price_range'" class="mb-3">
      <v-card flat class="rounded-lg py-3 px-5 histogramSectionCard">
        <div id="histogramSection">
          <h6 class="font-weight-regular font-regular-14">
            {{ $t("search.filters.price.title") }}
          </h6>
          <v-row ref="histogramParentDiv" justify="center" class="ma-0 mt-2 rangeSlider">
            <client-only>
              <HistogramSlider
                ref="histogram"
                :width="histogramWidth"
                :hideFromTo="true"
                :dragInterval="true"
                :grid="false"
                :bar-height="26"
                primaryColor="#3591384D"
                holderColor="#35913826"
                :handleColor="histogramHandleColor"
                :gridTextColor="histogramHandleColor"
                :handleSize="10"
                :barGap="1"
                :barRadius="0"
                :histSliderGap="0"
                :min="filter.price_range.min_price"
                :max="filter.price_range.max_price"
                :step="filter.step"
                :data="histogramData"
                :clip="false"
                class="histogramStyle"
                @finish="selectRange"
              />
            </client-only>
          </v-row>

          <v-row
            justify="space-around"
            class="
              ma-0
                mt-4
                text-center
                font-regular-12
              "
          >
            <v-col class="mx-5 pa-0">
              <div>{{ $t("search.filters.price.from") }}</div>
              <div class="mt-1 mb-n6">
                <v-text-field
                  filled
                  dense
                  solo
                  flat
                  background-color="greyLight4"
                  v-model="rangeSliderFrom"
                  :value="filter.min"
                  class="font-regular-12"
                  @input="inputRange"
                >
                </v-text-field>
              </div>
              <div>{{ $t("search.filters.price.unit") }}</div>
            </v-col>
            <v-col class="mx-5 pa-0">
              <div>{{ $t("search.filters.price.to") }}</div>
              <div class="mt-1 mb-n6">
                <v-text-field
                  filled
                  dense
                  solo
                  flat
                  background-color="greyLight4"
                  v-model="rangeSliderTo"
                  class="font-regular-12"
                  @input="inputRange"
                >
                </v-text-field>
              </div>
              <div>{{ $t("search.filters.price.unit") }}</div>
            </v-col>
          </v-row>

          <v-row justify="center" class="ma-0 mt-5">
            <v-btn
              color="primary"
              class="font-medium-14"
              outlined
              :disabled="rangeBtnDisable"
              @click="
                  filterPrice(
                    filter,
                    rangeSliderFrom,
                    rangeSliderTo,
                    filterIndex
                  )
                "
            >
              {{ $t("search.filters.price.btn") }}
            </v-btn>
          </v-row>
        </div>
      </v-card>
    </div>

    <!-- counter -->
    <div v-else-if="filter.type === 'counter'" class="mb-3">
      <v-card flat class="rounded-lg">
        <v-card-text class="py-3">
          <v-row justify="space-between" class="ma-0 px-2">
            <h6 class="greenDark8--text font-weight-regular font-regular-14">{{ filter.name }}</h6>
            <div v-if="filterPanelSettings[filterIndex]">
              <v-btn
                small
                icon
                depressed
                @click="addCounter(filter, filterIndex)"
              >
                <AddIcon
                  size="16"
                  :clr="$vuetify.theme.themes.light.greenDark8"
                />
              </v-btn>
              <span
                class="px-2 greenDark8--text"
                :class="{ 'font-FaNumregular-14' : $vuetify.rtl }"
                v-if="filterPanelSettings[filterIndex]"
              >{{ filterPanelSettings[filterIndex].count }}</span
              >
              <v-btn
                small
                class="me-n3"
                icon
                depressed
                @click="minusCounter(filter, filterIndex)"
              >
                <MinusIcon
                  size="16"
                  :clr="minusIconColorForCounterFilter(filterIndex)"
                />
              </v-btn>
            </div>
          </v-row>
        </v-card-text>
      </v-card>
    </div>

    <!-- counter list-->
    <div v-else-if="filter.type === 'list_counter'" class="mb-3">
      <v-expansion-panels
        flat
        v-model="filterPanelSettings[filterIndex].expand"
        v-if="filterPanelSettings[filterIndex]"
      >
        <v-expansion-panel class="rounded-lg countTitle">
          <v-expansion-panel-header class="font-regular-14 navyDark--text">{{
              filter.name
            }}
          </v-expansion-panel-header>
          <v-expansion-panel-content
            :class="{'mt-n4' : filterPanelSettings[filterIndex].expand === 0 }"
          >
            <v-row
              v-for="(item, index) in filter.children"
              :key="index"
              justify="space-between"
              align="center"
              class="
                  ma-1
                  mb-n1
                  font-light-14
                "
            >
              <div class="font-regular-12 greenDark8--text">
                {{ item.name }}
              </div>
              <div class="font-medium-12">
                <v-btn
                  small
                  icon
                  depressed
                  @click="addCounterList(filter, filterIndex, item, index)"
                >
                  <AddIcon
                    size="16"
                    :clr="$vuetify.theme.themes.dark.greenDark8"
                  />
                </v-btn>
                <span
                  class="px-2 greenDark8--text"
                  :class="{ 'font-FaNumregular-12' : $vuetify.rtl }"
                  v-if="filterPanelSettings[filterIndex]"
                >
                    {{
                    filterPanelSettings[filterIndex].ItemCounts[index].count
                  }}
                  </span>
                <v-btn
                  small
                  class="me-n3"
                  icon
                  depressed
                  @click="minusCounterList(filter, filterIndex, item, index)"
                >
                  <MinusIcon
                    size="16"
                    :clr="minusIconColor(filterIndex, index)"
                  />
                </v-btn>
              </div>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>

    <!-- boolean /switch -->
    <div v-else-if="filter.type === 'switch'" class="mb-3">
      <v-card flat class="rounded-lg" height="46">
        <v-card-text class="py-1 filterBoolean">
          <v-switch
            inset
            dense
            :label="filter.name"
            class="pt-0 mt-2"
            v-model="filterPanelSettings[filterIndex].value"
            @change="
                filterSwitch(
                  filter,
                  filterPanelSettings[filterIndex].value,
                  filterIndex
                )
              "
            v-if="filterPanelSettings[filterIndex]"
          ></v-switch>
        </v-card-text>
      </v-card>
    </div>

    <!-- select / checkbox -->
    <div v-else-if="filter.type === 'list_checkbox'" class="mb-3">
      <v-expansion-panels
        flat
        v-model="filterPanelSettings[filterIndex].expand"
        v-if="filterPanelSettings[filterIndex]"
      >
        <v-expansion-panel class="rounded-lg filterSelect">
          <v-expansion-panel-header
            class="navyDark--text py-3 px-4 font-regular-14"
          >{{ filter.name }}
          </v-expansion-panel-header
          >
          <v-expansion-panel-content
            class="mx-n2"
            :class="{ 'mb-n3' : filterPanelSettings[filterIndex].expand === 0 }"
          >
            <v-row
              v-for="(filterChild, filterChildIndex) in filter.children"
              :key="filterChildIndex"
              class="ma-0 mb-2 font-light-14"
            >
              <v-checkbox
                off-icon="$checkBox"
                on-icon="$checkBoxActive"
                class="mt-0 mb-n5 pa-0 checkBoxClass"
                :label="filterChild.name"
                v-model="
                    filterPanelSettings[filterIndex].listCheckBoxValues[
                      filterChildIndex
                    ].value
                  "
                @change="
                    filterCheckBox(
                      filter,
                      filterChild,
                      filterPanelSettings[filterIndex].listCheckBoxValues[
                        filterChildIndex
                      ].value,
                      filterIndex,
                      { filterChildIndex: filterChildIndex }
                    )
                  "
              ></v-checkbox>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>

    <!-- selectGroup -->
    <div v-else-if="filter.type === 'list'" class="mb-3">
      <v-card flat class="rounded-t-lg mb-n1">
        <v-card-title class="pt-3 pb-0 font-medium-14 greenDark8--text">
          {{ filter.name }}
        </v-card-title
        >
      </v-card>
      <div
        v-for="(filterChild, filterChildIndex) in filter.children"
        :key="filterChildIndex"
        class="mb-1"
      >
        <v-expansion-panels
          v-if="filterPanelSettings[filterIndex]"
          flat
          v-model="filterPanelSettings[filterIndex][filterChildIndex].expand"
        >
          <v-expansion-panel
            class="filterSelect"
            :class="{ 'rounded-0' : filterChildIndex === 0 }"
          >
            <v-expansion-panel-header
              class="px-4 navyDark--text font-regular-14"
            >{{ filterChild.name }}
            </v-expansion-panel-header>
            <v-expansion-panel-content
              class="mx-n2"
              :class="{ 'mb-n3' : filterPanelSettings[filterIndex][filterChildIndex].expand === 0 }"
            >
              <v-row
                v-for="(
                    filterChildItem, filterChildItemIndex
                  ) in filterChild.children"
                :key="filterChildItemIndex"
                class="ma-0 mb-2 font-light-14"
              >
                <v-checkbox
                  off-icon="$checkBox"
                  on-icon="$checkBoxActive"
                  class="mt-0 mb-n5 pa-0 checkBoxClass"
                  :label="filterChildItem.name"
                  v-model="
                      filterPanelSettings[filterIndex][filterChildIndex]
                        .listCheckBoxValues[filterChildItemIndex].value
                    "
                  @change="
                      filterCheckBox(
                        filter,
                        filterChildItem,
                        filterPanelSettings[filterIndex][filterChildIndex]
                          .listCheckBoxValues[filterChildItemIndex].value,
                        filterIndex,
                        {
                          filterChildIndex: filterChildIndex,
                          filterChildItemIndex: filterChildItemIndex,
                        }
                      )
                    "
                ></v-checkbox>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
  </div>
</div>
