<v-row v-if="getSearchResult.tags.length !== 0">
  <v-col>
    <v-row>
      <v-col class="pb-1">
        <h5 class="font-regular-14 secondary--text">
          {{ $t('search.main.related-search')}}
        </h5>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <nuxt-link
          v-for="(item, index) in getSearchResult.tags"
          :key="index"
          :to="`/${item.type}-${item.slug}`">
          <v-chip
            label
            color="whiteColor"
            class="mx-2 mb-3 px- font-regular-12 secondary--text cursorPointer"
          >
            {{ item.title }}
          </v-chip>
        </nuxt-link>

      </v-col>
    </v-row>
  </v-col>
</v-row>
